# fly.toml app configuration file generated for ntfy-2imvla on 2025-11-16T04:22:38Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ntfy-2imvla'
primary_region = 'bos'

[build]

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
